@if (product) {
<div class="row" style="margin: 40px auto;">
  <div class="col-md-6">
    <div
      class="card"
      CardStyle
      defaultShadow="7px 5px 5px #dfdfdf"
      secondaryShadow="10px 5px 5px #b5b5b5"
      style="width: 18rem"
    >
      <img class="card-img-top" [src]="product.img" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <div class="card-text">
          <h5>Quantity: {{ product.quantity }}</h5>

          @switch (product.quantity) { @case (0) {
          <h5 class="text text-danger">Out of stock</h5>
          } @case (1) {
          <h5 class="text text-warning">Last one</h5>
          } @case (2) {
          <h5 class="text text-warning">Last two</h5>
          } @default {
          <h5 class="text text-success">In stock</h5>
          } } @if (product.purshasedDate) {
          <p class="text text-secondary">
            Bought At: {{ product.purshasedDate | date : "short" }}
          </p>
          }
        </div>
        <div class="d-flex justify-space-between">
          <h5 class="text text-info" style="padding: 0 7px">
            {{ product.price | currency : "USD" : "symbol" : "0.0-0" }}
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="descr-text hidden-xs pdp-attr-version2">
      <div id="product-overview-v2" class="desktopOverviewV2 show-more-content">
        <strong class="title" id="product-details-text-title-v2"
          >Product Details</strong
        >

        <p id="product-summary-v2">
          Outstanding in appeal with the tempered glass round top, this dining
          table is sure to impress you instantly. Featuring a four-seater
          capacity, this unit comes with a uniquely designed sturdy metal base.
          It will certainly enhance the look of your dining area. Furthermore,
          this table requires a regular wipe clean for maintenance.
          <br /><br /><b
            >The product images have props used for illustrative purposes.</b
          ><br /><br /><b> Dining Chairs sold separately. </b>
        </p>
        <button class="btn btn-warning" [routerLink]='["/admin", "product", product.id]'>edit this product</button>

      </div>
    </div>
    <div>
      <button class="btn btn-primary m-2" (click)="prevProduct()" [disabled]="productIndex -1 < 0">Prev</button>
      <button class="btn btn-primary m-2" (click)="nextProduct()" [disabled]="productIndex + 1 >= productsIDs.length">Next</button>
    </div>
  </div>
</div>
<div>
  <button class="btn btn-secondary" [routerLink]='["/home"]'>Back to home</button>
</div>
}
